<div class="main-container animated-fadeIn fast mt-5">
    <h1>Users list</h1>
    <div class="row"  *ngIf="!loading && users.length > 0">
        <table class="table table-striped mt-5 animated-fadeIn">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">LastName</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users; let i = index;">
                <th scope="row"><img [src]="user.avatar" class="img-thumb" alt="..." style="border-radius:50%; height: 40px" /></th>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>
                    <button class="btn btn-info mr-3"
                        [routerLink]="['/users', user.id]"><i class="fa fa-pen"></i></button>
                    <button class="btn btn-danger" (click)="deleteUser(user.id, i)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </table>
        <div class="row text-center">
            <div class="col text-center">
                <button class="btn btn-light"
                    (click)="fetchPrev()"
                    *ngIf="page > 1">
                    <i class="fa fa-arrow-circle-left m5"></i> Prev
                </button>
                {{page}}
                <button class="btn btn-light"
                    (click)="fetchNext()"
                    *ngIf="fetchForward">
                    <i class="fa fa-arrow-circle-right m5"></i> Next
                </button>
            </div>
        </div>
    </div>
    <app-data-handler [loading]="loading" [dataLength]="users?.length === 0"></app-data-handler>
    <div class="row mb-20">
        <div class="col text-right">
            <button class="btn btn-primary"
                routerLink="/users/add">
                <i class="fa fa-plus m5"></i> Add
            </button>
        </div>
    </div>
  
</div>